{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
			<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
				<h2 class="mb-4 text-3xl md:text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{"Contactez-nous" | trans}}</h2>
			</p>
		</div>

		<div id="contact-section-container">
			<section class="contact-container container mt-5">

				<div class="flex flex-col md:flex-row gap-5">
					<div class="w-full lg:w-5/12">
						<div class="space-y-4">
							<div class="border p-4 flex items-center space-x-3">
								<i class="fa-solid fa-location-dot text-xl"></i>
								<span>{{"Immeuble Igoudar, Avenue des FAR, 80000 Agadir, Maroc" | trans }}</span>
							</div>
							<div class="border p-4 flex items-center space-x-3">
								<i class="fa-solid fa-phone-volume text-xl"></i>
								<span>+212 (0)528.84.42.84</span>
							</div>
							<div class="border p-4 flex items-center space-x-3">
								<i class="fa-solid fa-envelope text-xl"></i>
								<span>contact@smarttourisme.com</span>
							</div>
						</div>
						<div class="mt-5">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3548176.0173290186!2d-10.426471804053616!3d29.71930615672276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb121acee2d99f7%3A0x90a0b08173783fdb!2sSouss-Massa!5e0!3m2!1sen!2sma!4v1674138396134!5m2!1sen!2sma" class="w-full h-64 border-0" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
					<div class="w-full lg:w-7/12 flex justify-end">
						<div class="border p-5 w-full">
							<form class="flex flex-col gap-4" action="mailto:contact@smarttourisme.com" method="POST" dir={{dirs}}>
								<div class="flex flex-row gap-4">
									<div class="w-full md:w-1/2">
										<div class="relative">
											<label for="Nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"Nom" | trans}}</label>
											<input type="text" id="Nom" placeholder="{{"Nom" | trans}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required/>

										</div>
									</div>
									<div class="w-full md:w-1/2">

										<div class="relative">
											<label for="Prenom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"Prénom" | trans}}</label>
											<input type="text" id="Prenom" placeholder="{{"Prénom" | trans}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required/>

										</div>
									</div>
								</div>
								<div class="relative">
									<div class="relative">
										<label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"Email" | trans}}</label>
										<input type="email" id="Email" placeholder="{{"Email" | trans}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required/>

									</div>
								</div>
								<div class="relative">
									<div class="relative">
										<label for="Sujet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"Sujet" | trans}}</label>
										<input type="text" id="Sujet" placeholder="{{"Sujet" | trans}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required/>

									</div>
								</div>
								<div class="relative">
									<div class="relative">
										<label for="Sujet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"Message" | trans}}</label>
									<textarea id="Sujet" placeholder="{{"Message" | trans}}" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm h-32" required></textarea>

									</div>
								</div>
								<div class="w-full flex justify-end">
								<button type="submit" class="w-48 text-center bg-blue-900 text-white px-4 py-2 rounded-md flex items-center space-x-2 hover:bg-blue-800">
									<span class="w-full text-center ">{{"Soumettre" | trans}}</span>
									<i class="fa-solid fa-paper-plane"></i>
								</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>

		</div>

	{% endblock %}
