{% extends 'base_admin.html.twig' %}

{% block title %}Gestion des équipements
{% endblock %}

{% block body %}

	<nav class="border-b-1 border-gray-100 sticky  shadow-sm z-20 top-0 start-0 ">

		<ul class="flex justify-center items-center h-12 text-sm md:text-md">
			<li class="mr-3">
				<a class="inline-block  py-2 px-3 text-orange-500" href="{{ path('app_amnities')}}">Liste des équipements</a>
			</li>
			<li class="mr-3">
				<a class="inline-block  py-2 px-3 text-orange-500" href="{{ path('app_amnities_add')}}">Ajouter un équipement</a>
			</li>

		</ul>
	</nav>
	<div class="w-full p-4 mt-10">
		<blockquote class="text-2xl font-semibold italic text-center text-slate-900 mb-10">
			Liste des
			<span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-[#FA7127] relative inline-block ">
				<span class="relative text-white">
					équipements</span>
			</span>

		</blockquote>
		<table id="example" class="display  w-full text-sm text-left rtl:text-right text-gray-500 " style="width:100%">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 ">
				<tr>
					<th class="text-left px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-sm">Nom</th>
					
				    <th class="text-left px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-sm">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for amnitie in amnities %}
					<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 ">

						<td class="text-left px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-sm">{{ amnitie.nom | raw | capitalize }}</td>
						
						
						<td class="text-left px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-sm">
							<a href="{{ path('app_amnities_update',{slug: amnitie.slug})}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editer</a>
							|

						</td>


					</tr>
				{% endfor %}


			</tbody>
		</table>
	</div>
{% endblock %}
{% block javascripts %}


	{{ parent()}}
	<script>
		$(document).ready(function () {
$('#example').DataTable({
responsive: true,
rowReorder: {
selector: 'td:nth-child(2)'
},
"language": {
"url": "{{ asset('template/js/fr.json') }}" // si vous souhaitez localiser DataTables en français
},
"order": [], // Désactive le tri par défaut


});


});
	</script>
{% endblock %}
