{% extends 'base_listing.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('template/css/star-rating.css')}}" crossorigin="anonymous"/>
	
	<style>
		.font-arial {
			font-family: 'Poppins', sans-serif;
		}

	</style>
{% endblock %}

{% block body %}
	{% set sizetext = dirs == ' rtl' ? "text-sm" : "text-md" %}
	<div class=" w-full justify-end  p-2 md:p-3 shadow-md bg-blue-900/80">
		{% include 'components/searchsection.html.twig' with {'form' : form} %}
	</div>

	<!-- *************Search Header***************** -->
	<script src="https://cdn.jsdelivr.net/gh/googlemaps/v3-utility-library@07f15d84/markerclustererplus/src/markerclusterer.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default" defer></script>


	<div class="h-[130px] md:h-[110px] px-4 bg-transparent w-full  mt-5  flex flex-col md:flex-row ">
		<div class=" w-full md:w-4/6 lg:w-4/6 h-full items-start justify-start px-2 ">


			<p class="text-4xl text-blue-900 font-semibold ">
				{{ listing.name | raw }}</p>
			<p class="text-md text-gray-900 font-normal mb-1 flex flex-row md:items-center gap-1">
				<img src="{{ asset('template/svg/map.svg')}}" class="h-5"/>


				<span class="me-2">{{ listing.adresse | raw }},
					{{ listing.ville.nom | raw | trans}}</span>
			</p>
			<div class="flex items-center">
				{% set roundedNote = listing.note|round %}
				{% if roundedNote > 0 %}
					{% for i in 1.. roundedNote %}
						<svg class="w-5 h-5 text-orange-500 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
							<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
						</svg>
					{% endfor %}
				{% endif %}

				{% if listing.note < 5 %}
					{% for i in range(4, roundedNote, -1) %}
						<svg class="w-5 h-5 ms-1 text-gray-500 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
							<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
						</svg>
					{% endfor %}
				{% endif %}
			</div>
			{% if roundedNote == 0 %}
				<div class="mt-1 text-sm text-blue-700">
					<a id="scrollForm2" class="cursor-pointer hover:text-orange-500 {{sizetext}}">{{"Sois le premier à évaluer ce listing" | trans}}</a>
				</div>
			{% endif %}

		</div>
		<div class="w-full md:w-2/6 lg:w-2/6 mt-6 md:mt-0 h-full  px-2 ">

			<div class="flex flex-col w-full md:w-full h-full items-center md:items-end justify-center md:justify-end">
				<div>


					<!-- Bouton pour les écrans de taille moyenne et plus -->

					{% if listing.link != "" %}
						{% include 'components/_booking_button.html.twig' with {
                    
					'listing' : listing 
                	}%}
					{% endif %}
				</div>
				<div class="flex flex-row w-full h-full items-center md:items-start justify-center md:justify-end mt-1 gap-1 ">
					<div>

						<button data-popover-target="popover-review" data-popover-placement="bottom" dir={{dirs}} id="scrollForm" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium  text-sm px-4 py-2.5 justify-center inline-flex items-center  ">
							<svg class="w-5 h-5 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"/>
							</svg>
							<div data-popover id="popover-review" role="tooltip" class="absolute z-10 rounded-lg invisible inline-block  text-sm  transition-opacity duration-300    opacity-0 ">
								<div class="px-3 py-2 bg-black/70  rounded-lg">
									<h3 class="font-semibold text-white ">{{"Soumettre des avis" | trans}}</h3>
								</div>

								<div data-popper-arrow></div>
							</div>
						</button>
						<a dir={{dirs}} data-popover-target="popover-share" data-popover-placement="bottom" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" href="javascript:;" class="text-gray-900 bg-white  hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium  text-sm px-4 py-2.5 justify-center inline-flex items-center  ">
							<svg class="w-5 h-5 md:block text-gray-800  me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
								<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M7.926 10.898 15 7.727m-7.074 5.39L15 16.29M8 12a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm12 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm0-11a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
							</svg>
							<div data-popover id="popover-share" role="tooltip" class="absolute z-10 invisible inline-block  text-sm  transition-opacity duration-300  rounded-lg  opacity-0 ">
								<div class="px-3 py-2 bg-black/70  rounded-lg">
									<h3 class="font-semibold text-white ">{{"Partager" | trans}}</h3>
								</div>

								<div data-popper-arrow></div>
							</div>

						</a>
						<!-- Dropdown menu -->
						<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
							<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">

								<li>
									<a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="__blank" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Facebook</a>
								</li>
								<li>
									<a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}" target="__blank" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Twitter</a>
								</li>

							</ul>
						</div>

					</div>
					<div>
						<a dir={{dirs}} href="javascript:;" data-clipboard-text="{{ app.request.uri }}" id="copyButton" class="text-gray-900 bg-white w-[90px]  md:w-[125px] hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium  text-sm px-4 py-2.5 justify-center inline-flex items-center  ">
							<svg class="w-4 h-4 hidden md:block text-gray-800 dark:text-white me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
								<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M11 16h2m6.707-9.293-2.414-2.414A1 1 0 0 0 16.586 4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7.414a1 1 0 0 0-.293-.707ZM16 20v-6a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v6h8ZM9 4h6v3a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V4Z"/>
							</svg>


							{{"Copier" | trans }}
						</a>
					</div>
				</div>
			</div>


		</div>

	</div>
	<div class="relative mt-24  md:mt-0 px-4 flex flex-col md:flex-row w-full h-full items-start  gap-0">

		<div class=" w-full md:w-3/5 flex h-full flex-col items-start justify-start px-2 ">


			{% if listing.video != "" %}
				<div class="w-full px-0 md:mt-0 mt-8  mb-4 md:px-4 h-16 bg-white md:bg-gray-100 flex flex-col md:flex-row justify-start items-center gap-2">
					<div class="md:w-5/6 w-full h-16 flex items-center justify-start gap-4">
						<img src="{{ asset('template/svg/video.svg')}}" class="w-8 h-8"/>
						<p class="text-lg text-blue-900">
							{{ listing.name | raw | capitalize }}
						</p>
					</div>
					<div class="md:w-1/6  w-full h-full flex items-center justify-center">
						<button data-modal-target="modal-id" data-modal-toggle="modal-id" id="open-modal-btn" data-modal="button" href="javascript:;" class="bg-white border border-gray-100 shadow-lg w-48 md:w-full h-12 md:h-3/5 text-center text-blue-600 font-semibold text-md  rounded  ">
							{{"Voir la vidéo" | trans}}
						</button>

						{# Le modal de la vidéo  #}
						<div id="modal-id" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
							<div
								class="relative p-4 w-full max-w-2xl max-h-full" id="modal-content">
								<!-- Modal content -->
								<div
									class="relative bg-white rounded-lg shadow dark:bg-gray-700">

									<!-- Modal body -->
									<div class=" space-y-4">
										<iframe id="iframevideo" class="w-full h-96" src="{{ listing.video | raw }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

									</div>

								</div>
							</div>
						</div>


						{# ************************ #}
					</div>
				</div>
			{% endif %}

			<div class="w-full px-0 md:mt-0 mt-8    bg-white  flex flex-row justify-start items-center gap-1">
				<div class="md:w-3/6 w-full h-16 flex items-center justify-start gap-1">

					<a href="javascript:;" id="voircarte" class="block md:hidden text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
						<img src="{{ asset('template/svg/map1.svg')}}" class="w-7 h-7 me-2"/>
						{{"Voir la carte" | trans }}
					</a>
				</div>
				<div class="md:w-3/6  w-full h-full flex items-center justify-end">
					<a href="https://www.google.com/maps?q={{listing.latitude | raw}},{{listing.longitude | raw}}" target="_blank" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
						<svg class="w-5 text-gray-800 dark:text-white me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.153 19 21 12l-4.847-7H3l4.848 7L3 19h13.153Z"/>
						</svg>
						{{"Direction" | trans}}
					</a>
				</div>
			</div>

			{% if listing.description !=  "" %}
				<p class="mt-8 md:mt-4  mb-2 text-gray-800  first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
					{{ listing.description | raw | capitalize }}</p>
			{% endif %}

			{# gestion des amnities #}

			<div class="mt-4 md:mt-4 w-full ">


				{% include 'components/_amnities.html.twig' with {
                    
					'listing' : listing 
                }%}
			</div>

			{# gestion de la gallerie #}
			{% if listing.images | length > 0 %}
				<hr class="my-6 w-3/3  text-center border-t-2 border-[#FA7127]">

				{% include 'components/_gallery.html.twig' with {
                    'images' : listing.images,
					'listing' : listing 
                }%}
			{% endif %}

			{% include 'components/_details.html.twig' with {
                    
					'listing' : listing 
                }%}
		
			{% include 'components/_review.html.twig' with {
                    
					'form_review' : form_review 
                }%}
			{% include 'components/_comments.html.twig' with {
                    
					'form_review' : form_review 
                }%}
		</div>
		<div id="carte" class="static xl:sticky xl:top-0 justify-center items-center bottom-0 w-full md:w-2/5  h-screen shadow-xl ">
			<div id="map" class=" items-center justify-center items-center h-screen border-b-2 border-gray-100 bg-gray-100">
				Chargement en cours ...

			</div>
		</div>

	</div>
	{% if listing.link != "" %}
		<div class="fixed top-1/2 left-4 transform -translate-y-1/2 flex flex-col items-end">
			<div class="flex flex-col items-start rotate-90 origin-left">
				<button class="bg-blue-500 text-white py-2.5 px-4 rounded mb-2 text-lg" id="scrollBook">
					{{"Réserve maintenant" | trans}}
				</button>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent()}}

	<script async="false" src="https://maps.googleapis.com/maps/api/js?key={{api_maps}}&callback=initMap&v=weekly" defer></script>
	<script src="{{asset('template/js/star-rating.js')}}" crossorigin="anonymous"></script>
	<script>

		function initMap() {
const mapOptions = {
zoom: 6,
center: new google.maps.LatLng(29.54619, -7.36133),
mapTypeId: google.maps.MapTypeId.SATELLITE
};

const map = new google.maps.Map(document.getElementById("map"), mapOptions);

const mapStyles = [{
featureType: "administrative.country",
stylers: [
{
visibility: "off"

}
]
},];

const mapType = new google.maps.StyledMapType(mapStyles, {name: "Maroc"});

map.mapTypes.set("maroc", mapType);
map.setMapTypeId("maroc");

/************************************/

// code pour dessiner la map  data.js
// var data1 = groupCoordinates(data, 2);

// data1.forEach(latLng => {

// const polyline = new google.maps.Polyline({
// path: latLng,
// strokeOpacity: 1,
// strokeWeight: 2,
// strokeColor: "#E30AFA",
// strokeStyle: "solid",
// map: map
// });

// });

/**************************************/


// Ajouter un marqueur aux coordonnées spécifiées (35.7595, -5.8330)
const svgMarker = {
path: "M-1.547 12l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM0 0q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
fillColor: "blue",
fillOpacity: 0.6,
strokeWeight: 0,
rotation: 0,
scale: 2,
anchor: new google.maps.Point(0, 20)
};


const AdvancedMarkerElement = null;
const PinElement = null;

google.maps.importLibrary("marker").then(function (library) {
const AdvancedMarkerElement = library.AdvancedMarkerElement;
const PinElement = library.PinElement;

// Votre code utilisant AdvancedMarkerElement et PinElement ici
});


// Créez un tableau pour stocker les marqueurs
const markers = [];

const listingsData = [{% set image = listing.getFirstImage != null ? 'template/uploads/' ~ listing.getFirstImage : 'template/images/no.jpg' %}{
latitude: {{ listing.latitude | raw }},
longitude: {{ listing.longitude | raw }},
ville: "{{ listing.ville.province.nom | upper | raw }}/                                           {{ listing.ville.nom | upper | raw }}",
getFirstImage: "{{ asset(image) }}",
name: "{{ listing.name | raw }}",
adresse: "{{ listing.adresse | raw | u.truncate(40,'...') }}",
telephone: "{{ listing.telephone | raw }}"
}
];
const markers_cluster = [];
var i = 1;
const labels = "0123456789";
function addMarker(listing) {
const markerLatLng = new google.maps.LatLng(listing.latitude, listing.longitude);

const chemin = listing.getFirstImage;

const contentString = `
        <a href="https://www.google.com/maps?q=${
markerLatLng.lat()
},${
markerLatLng.lng()
}" class="rounded overflow-hidden  bg-gray-50  rounded-tl-[40px] rounded-br-[40px] hover:shadow-md hover:shadow-gray-300  flex flex-col ">
            <a href="#"></a>
				<div class="relative">
					<a href="#">
						<img class=" w-full  h-32 object-cover rounded-xl shadow-lg" src="` + chemin + `">
					</a>
				
				</div>
				<div class="mx-2 mt-4">
					<a href="#" class="font-medium text-lg inline-block text-blue-900 transition duration-500 ease-in-out inline-block mb-2">
						` + listing.name + `
					</a>

					
				</div>
				
				<div class=" flex flex-col justify-start  ">
					

					<span class="mx-2 py-1 text-xs justify-start text-left font-regular text-gray-900 mr-1 flex flex-row gap-1 items-center">
						<svg class="w-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
</svg>


						<span class="ml-1">` + listing.adresse + `</span>
					</span>

				
				</div>
           
        </a>`;
const label = labels[i % labels.length];
i++;

const marker = new google.maps.Marker({position: markerLatLng, map: map});

const infoWindow = new google.maps.InfoWindow({content: contentString});

// Ajoutez un événement de clic pour ouvrir l'info-bulle
marker.addListener('click', function () {
infoWindow.open(map, marker);
});

var bounds = new google.maps.LatLngBounds();


bounds.extend(marker.getPosition());

// Zoomer automatiquement sur le marqueur en ajustant les limites de la carte
map.fitBounds(bounds);
// Limiter le zoom maximal (facultatif)
google.maps.event.addListenerOnce(map, 'bounds_changed', function (event) {
if (this.getZoom() > 6) {
this.setZoom(6);
}
});


markers_cluster.push(marker);
}

// Ajoutez les marqueurs pour chaque listing
listingsData.forEach(function (listing) {
addMarker(listing);
});


var markerCluster = new MarkerClusterer(map, markers_cluster, {imagePath: "{{ asset('template/images/m') }}"});


}
function groupCoordinates(arr, chunkSize) {
var groupedCoordinates = [];
for (var i = 0; i < arr.length; i += chunkSize) {
groupedCoordinates.push(arr.slice(i, i + chunkSize));
}
return groupedCoordinates;
}


function checkMapLoaded() {
var mapElement = document.getElementById('map');
if (mapElement && mapElement.offsetWidth > 0 && mapElement.offsetHeight > 0) { // La carte est affichée correctement
return true;
}
return false;
}

document.addEventListener('DOMContentLoaded', function () {
function loadMap() {
if (checkMapLoaded()) {
initMap();
} else {
setTimeout(loadMap, 1000); // Réessaye après 1 seconde
}
}

// Appelle loadMap une fois que le DOM est complètement chargé
loadMap();
});

document.addEventListener('DOMContentLoaded', function () {
const modal = document.getElementById('modal-id');
const modalContent = document.getElementById('modal-content');
const openModalBtn = document.getElementById('open-modal-btn');
const iframe = document.getElementById('iframevideo');

// Ouvre le modal
openModalBtn.addEventListener('click', function () {
modal.classList.remove('hidden');
});

// Ferme le modal si on clique en dehors du contenu
modal.addEventListener('click', function (event) {
if (! modalContent.contains(event.target)) {
modal.classList.add('hidden');
if (iframe) {
iframe.src = iframe.src; // Arrête la vidéo

}

}
});
});

document.addEventListener('DOMContentLoaded', function () {

var destroyed = false;
var starratingPrebuilt = new StarRating('.star-rating-prebuilt', {
prebuilt: true,
maxStars: 5
});
var starrating = new StarRating('.star-rating', {
stars: function (el, item, index) {
el.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect class="gl-star-full" width="19" height="19" x="2.5" y="2.5"/><polygon fill="#FFF" points="12 5.375 13.646 10.417 19 10.417 14.665 13.556 16.313 18.625 11.995 15.476 7.688 18.583 9.333 13.542 5 10.417 10.354 10.417"/></svg>';
}
});

});

document.addEventListener('DOMContentLoaded', function () {
var button = document.getElementById('scrollForm');
var button1 = document.getElementById('scrollForm1');
var button2 = document.getElementById('scrollForm2');
var form = document.getElementById('reviewForm');

if (button && form) {
button.addEventListener('click', function (e) {
e.preventDefault();
form.scrollIntoView({behavior: 'smooth'});
});
} else {
console.error('Element not found: Check if IDs are correct');
}



if (button2 && form) {
button2.addEventListener('click', function (e) {
e.preventDefault();
form.scrollIntoView({behavior: 'smooth'});
});
} else {
console.error('Element not found: Check if IDs are correct');
}
});


document.addEventListener('DOMContentLoaded', function () {
if (document.querySelector('.is-invalid')) {
document.getElementById('formID').scrollIntoView({behavior: 'smooth'});
}
});

document.addEventListener('DOMContentLoaded', function () {
var form = document.getElementById('formID'); // Remplacez par l'ID de votre formulaire
var select = document.getElementById('glsr-prebuilt');
var errorMessage = document.getElementById('noteID');

form.addEventListener('submit', function (event) {
if (! select.value) {
event.preventDefault();
errorMessage.classList.remove('hidden');
} else {
errorMessage.classList.add('hidden');
}
});
});


document.addEventListener('DOMContentLoaded', function () {
var copyButton = document.getElementById('copyButton');
copyButton.addEventListener('click', function () {
var link = this.getAttribute('data-clipboard-text');
navigator.clipboard.writeText(link).then(function () {
toastr.success('Lien copié avec succès', 'SDR', {timeOut: 3000})
}).catch(function (err) {

toastr.success('Lien copié avec succès', 'SDR', {timeOut: 3000})
});
});
});
document.addEventListener('DOMContentLoaded', function () {
    $(function () {
        var today = moment().startOf('day');
        var tomorrow = today.clone().add(1, 'days');

        var localeOptions = {
            'ar': {
                format: 'DD/MM/YYYY',
                applyLabel: 'تطبيق',
                cancelLabel: 'إلغاء',
                fromLabel: 'من',
                toLabel: 'إلى',
                customRangeLabel: 'نطاق مخصص',
                daysOfWeek: ['أحد', 'اثنين', 'ثلاثاء', 'أربعاء', 'خميس', 'جمعة', 'سبت'],
                monthNames: ['يناير', 'فبراير', 'مارس', 'أبريل', 'مايو', 'يونيو', 'يوليو', 'أغسطس', 'سبتمبر', 'أكتوبر', 'نوفمبر', 'ديسمبر'],
                firstDay: 0
            },
            'en': {
                format: 'DD/MM/YYYY',
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 0
            },
            'fr': {
                format: 'DD/MM/YYYY',
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                fromLabel: 'De',
                toLabel: 'À',
                customRangeLabel: 'Plage personnalisée',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                firstDay: 1
            }
        };

        var locale = '{{ app.request.locale }}';
        var currentLocale = localeOptions[locale] || localeOptions['en'];

       $('input[name="daterange"]').daterangepicker({
				opens: 'center',
				minDate: today,
				endDate: tomorrow,
				locale: currentLocale
			}, function (start, end, label) {
				var link = '{{ listing.link | raw }}'; // Ajoutez cette ligne pour définir la variable link
				createLink(link);
				   $('#backdrop').hide();
			});
    var $backdrop = $('<div id="backdrop" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 1000; display: none;"></div>').appendTo('body');
		 
		 
		 
		 
		 
		$('#scrollForm1').on('click', function () {
        $backdrop.show();
        $('input[name="daterange"]').trigger('click'); // Afficher le calendrier
        centerCalendar();
    });

    // Cacher le calendrier et le backdrop lorsque le backdrop est cliqué
    $backdrop.on('click', function () {
        var daterangepicker = $('input[name="daterange"]').data('daterangepicker');
        if (daterangepicker) {
            daterangepicker.hide();
        }
        $backdrop.hide();
    });

 $('input[name="daterange"]').on('apply.daterangepicker', function (event, picker) {
    var startDate = picker.startDate.format('YYYY-MM-DD');
    var endDate = picker.endDate.format('YYYY-MM-DD');
    var dayCount = picker.endDate.diff(picker.startDate, 'days');

    if (dayCount > 0) {
        var link = '{{ listing.link | raw }}'; // Assure-toi que cette variable est définie correctement
        createLink(link, startDate, endDate, dayCount);
        $backdrop.hide(); // Masquer le backdrop
    } else {
        alert('Please select a valid date range.'); // Optionnel : avertir l'utilisateur si la sélection est invalide
    }
});

  $('input[name="daterange"]').on('apply.daterangepicker', function () {
    // Ne pas réinitialiser les dates ici si on souhaite conserver la sélection
	
	
    $backdrop.hide(); // Masquer le backdrop
    $(this).data('daterangepicker').hide(); // Masquer le calendrier
});

// Fonction pour réinitialiser les dates et cacher le calendrier après l'annulation
$('input[name="daterange"]').on('cancel.daterangepicker', function () {
    // Réinitialiser les dates à l'état initial
    $(this).data('daterangepicker').setStartDate(initialStartDate);
    $(this).data('daterangepicker').setEndDate(initialEndDate);
    $backdrop.hide(); // Masquer le backdrop
    
	 $('#daterangepicker').trigger('hide.daterangepicker');
});

// Réinitialiser les dates lors de l'ouverture du calendrier
$('input[name="daterange"]').on('show.daterangepicker', function () {
		$(this).data('daterangepicker').css('display', 'none');
    $(this).data('daterangepicker').setStartDate(initialStartDate);
    $(this).data('daterangepicker').setEndDate(initialEndDate);


});

function centerCalendar() {
    var daterangepickerInstance = $('input[name="daterange"]').data('daterangepicker');
    if (daterangepickerInstance) {
        var $calendarContainer = daterangepickerInstance.container;
        var viewportWidth = $(window).width();
        var viewportHeight = $(window).height();
        var calendarWidth = $calendarContainer.outerWidth();
        var calendarHeight = $calendarContainer.outerHeight();

        $calendarContainer.css({
            position: 'absolute',
            top: (viewportHeight - calendarHeight) / 2 + 'px',
            left: (viewportWidth - calendarWidth) / 2 + 'px'
        });

        $calendarContainer.show();
    }
}



}); });

function createLink(link) {
    var daterange = document.getElementById('daterange').value;
    var dates = daterange.split(' - ');
    var startDateStr = dates[0].trim();
    var endDateStr = dates[1].trim();
    var startDate = formatDate(startDateStr);
    var endDate = formatDate(endDateStr);
    var dayCount = calculateDayCount(startDate, endDate);
    var url = `https://${link}.hotelrunner.com/bv3/search?search={"checkin_date":"${startDate}","checkout_date":"${endDate}","day_count":${dayCount}}`;

    window.open(url, '_blank');
}

function formatDate(dateStr) {
    var parts = dateStr.split('/');
    return `${parts[2]}-${parts[1]}-${parts[0]}`;
}

function calculateDayCount(startDate, endDate) {
    var start = moment(startDate, 'YYYY-MM-DD');
    var end = moment(endDate, 'YYYY-MM-DD');
    return end.diff(start, 'days');
}

	</script>

{% endblock %}
