<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        SDR
      {% endblock %}
    </title>
    <link rel="icon" href="{{ asset('template/images/icon.png') }}" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('template/css/star-rating.css')}}" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ asset('template/css/toaster.min.css')}}" crossorigin="anonymous"/>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      <script src="{{asset('template/js/jquery.min.js')}}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{{ asset('template/js/fslightbox.js')}}"></script>
      <script src="{{ asset('template/js/toaster.min.js')}}"></script>
      <script src="{{asset('template/js/star-rating.js')}}" crossorigin="anonymous"></script>
      
    {% endblock %}
  </head>
  <body>
    {% for message in app.flashes('success') %}
      <div class="p-4  text-lg text-white text-center bg-green-400 dark:bg-green-800 dark:text-blue-400 border-b-2 shadow-lg shadow-gray-500/30 border-gray-400" role="alert">{{ message|raw }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
      <div class="p-4  text-lg text-white text-center bg-red-400 dark:bg-red-800 dark:text-blue-400 border-b-2 shadow-lg shadow-blue-gray/30 border-gray-400" role="alert">{{ message|raw }}</div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
      <div class="p-4  text-lg text-black text-center bg-orange-300 dark:bg-orange-800 dark:text-blue-400 border-b-2 shadow-lg shadow-bgraylue-500/30 border-gray-400" role="alert">{{ message|raw }}</div>
    {% endfor %}
    {{ render(controller('App\\Controller\\MenuController::index')) }}
    {% block body %}
    {% endblock %}
      {# {% include "components/footer.html.twig" %} #}
  </body>
</html>
