<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        SDR
      {% endblock %}
    </title>
    <link rel="icon" href="{{ asset('template/images/icon.png') }}" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('template/css/custumselect.css')}}" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{{ asset('template/css/dataTables.min.css')}}" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('template/css/datatablesResponsive.css')}}" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('template/css/datatablesrowReorder.css')}}" crossorigin="anonymous"/>
<style>
#dropdown-container.active .group-hover\\:scale-100 {
    scale: 100%;
}

/* Par défaut, les effets de survol sont activés */
.group-hover\\:scale-100 {
    transform: scale(1);
}

/* Menu caché par défaut */
#dropdown-menu.scale-0 {
    transform: scale(0);
}

/* Menu visible lorsqu'il est activé */
#dropdown-menu.scale-100 {
    transform: scale(1);
}
</style>
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{{asset('template/js/select2.min.js')}}" defer></script>
   	<script src="{{asset('template/js/rowReorder.dataTables.js')}}" crossorigin="anonymous"></script>
			<script src="{{asset('template/js/responsive.dataTables.js')}}" crossorigin="anonymous"></script>
    <script>
          $(window).on('load', function() {
            $('.js-example-basic-single').select2();
        });
    </script>
      	<script>
			

  let isDropdownOpen = false;

function toggleDropdown() {
    const menu = document.getElementById('dropdown-menu');
    const container = document.getElementById('dropdown-container');
    
    if (isDropdownOpen) {
        menu.classList.remove('scale-100');
        menu.classList.add('scale-0');
    } else {
        menu.classList.remove('scale-0');
        menu.classList.add('scale-100');
    }
    
    isDropdownOpen = !isDropdownOpen;
}

function onChangeLanguage(value)
{

if (value === "fr") {
          window.location.href = "/change/locales/fr";
          } else if (value === "en") {
          window.location.href = "/change/locales/en";
          } else if (value === "ar") {
          window.location.href = "/change/locales/ar";
          }

}
document.addEventListener('DOMContentLoaded', function () {
const searchForm = document.getElementById('search_query');
const searchResults = document.getElementById('search-results');

searchForm.addEventListener('input', function () {
    const query = searchForm.value;
/********************* Traitement de la chaine ***/ 
let queryf;

if (query.includes(',')) {
  const elements = query.split(',');
  queryf = elements[elements.length - 1];
} else {
  queryf = query;
}


                        if (searchForm && searchForm.value.trim() !== "") {
                        $.ajax({
                                url: '/search/query/'+queryf.trim() ,
                                
                                type: "POST",
                                        success: function (response) {

                                       

                                        if( response !== null )
                                        {
                                        searchResults.classList.remove('hidden');     
                                        updateResults(response);
                                        }else{
                                                  searchResults.classList.add('hidden'); 
                                                    searchResults.innerHTML = '';
                                               
                                        }
                                               

                                                
                                        },
                                        error: function(jqXHR, textStatus, errorThrown) {
                                        searchResults.classList.add('hidden');     
                                        }
                        });
                        }else{
                                searchResults.classList.add('hidden');     
                                searchResults.innerHTML = '';
                        }
});

function updateResults(results) {
    // Effacez les résultats existants
    searchResults.innerHTML = '';

    // Créez une liste non ordonnée
    const resultList = document.createElement('ul');
  
    // Ajoutez les nouveaux résultats à la liste
    results.forEach(result => {
        const listItem = document.createElement('li');
       
        listItem.textContent = result.name; // Utilisez le champ approprié ici
         
        listItem.classList.add('py-2', 'px-2', 'cursor-pointer','border-b', 'border-gray-100','no-underline');

        // Ajoutez un gestionnaire d'événements pour mettre à jour le champ de recherche
        listItem.addEventListener('click', function () {
            const terms = searchForm.value.split(',').map(term => term.trim());
            terms.pop(); // Supprime le dernier terme saisi

            // Ajoute le terme sélectionné
            terms.push(result.name);

            // Met à jour le champ de recherche avec les termes
            searchForm.value = terms.join(', ');

            // Suppression des doublons
            searchForm.value = removeDuplicates(searchForm.value);

            document.getElementById('queryId').value = result.id;
            searchResults.classList.add('hidden');
            searchForm.focus();
            searchForm.setSelectionRange(searchForm.value.length, searchForm.value.length);
        });

        resultList.appendChild(listItem);
    });

    // Ajoutez la liste à l'élément searchResults
    searchResults.appendChild(resultList);
}
 document.addEventListener('click', function (event) {
        if (!searchResults.contains(event.target) && event.target !== searchForm) {
            searchResults.classList.add('hidden');
        }
    });
});

function removeDuplicates(inputString) {
    // Divisez la chaîne en éléments en utilisant une virgule comme délimiteur
    const elements = inputString.split(',').map(item => item.trim()).filter(item => item !== '');

    // Créez un ensemble pour éliminer les doublons tout en conservant l'ordre
    const seen = new Set();
    const uniqueElements = elements.filter(item => {
        if (seen.has(item)) {
            return false;
        }
        seen.add(item);
        return true;
    });

    // Assurez-vous que la chaîne finale contient toujours une virgule
    let resultString = uniqueElements.join(', ');

    // Ajoutez une virgule à la fin si la chaîne unique n'est pas vide
    if (resultString) {
        resultString += ',';
    }

    return resultString;
}

document.addEventListener('DOMContentLoaded', function () {
 const input = document.getElementById('search_query');

        // Empêche la saisie d'espaces multiples
        input.addEventListener('input', function(event) {
            // Remplace les espaces multiples ou les espaces en début/fin par un seul espace
            event.target.value = event.target.value
                .replace(/^\s+|\s+$/g, '')   // Supprime les espaces en début et fin
                .replace(/\s{2,}/g, ' ');    // Remplace les espaces multiples par un seul espace
        });

        // Empêche le collage de texte avec des espaces multiples
        input.addEventListener('paste', function(event) {
            event.preventDefault();
            const pasteData = (event.clipboardData || window.clipboardData).getData('text');
            // Nettoie les espaces multiples dans les données collées
            input.value += pasteData
                .replace(/^\s+|\s+$/g, '')
                .replace(/\s{2,}/g, ' ');
        });
         });
</script>
    {% endblock %}
  </head>
  <body>
    {% for message in app.flashes('success') %}
      <div class="p-4 mb-10 text-lg text-white text-center bg-green-400 dark:bg-green-800 dark:text-blue-400 border-b-2 shadow-lg shadow-gray-500/30 border-gray-400" role="alert">{{ message|raw }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
      <div class="p-4 mb-10 text-lg text-white text-center bg-red-400 dark:bg-red-800 dark:text-blue-400 border-b-2 shadow-lg shadow-blue-gray/30 border-gray-400" role="alert">{{ message|raw }}</div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
      <div class="p-4 mb-10 text-lg text-black text-center bg-orange-300 dark:bg-orange-800 dark:text-blue-400 border-b-2 shadow-lg shadow-bgraylue-500/30 border-gray-400" role="alert">{{ message|raw }}</div>
    {% endfor %}
    {{ render(controller('App\\Controller\\MenuController::index')) }}
    {% block body %}
    {% endblock %}
      {% include "components/footer.html.twig" %}
  </body>
</html>
