{% set chemin = listing.getFirstImage != null ? "template/uploads/" ~ listing.getFirstImage : "template/images/no.jpg" %}
<div class="rounded overflow-hidden border border-gray-200 bg-white rounded-tl-[40px] rounded-br-[40px] hover:shadow-md hover:shadow-gray-300   flex flex-col ">
	<a href="#"></a>
	<div class="relative">
		<a href="{{ path('app_search_listing_show',{slug : listing.slug})}}">
			<img class=" w-full  h-64 object-cover" src="{{ asset(chemin)}}" alt="{{ listing.name | raw}}">
			<div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-500 opacity-5"></div>
		</a>
		<a href="#!">

			<div class="text-xs absolute top-0 right-0 bg-transparent px-4 py-2 text-white mt-3 mr-3   transition duration-500 ease-in-out">
				<button type="button" class="text-blue-700 shadow-md bg-gray-900/50 hover:bg-white/50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
					<svg class="w-[24px] h-[24px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
					</svg>


				</button>
			</div>
		</a>
	</div>
	<div class="px-6 mt-4 mb-2">
		<a href="{{ path('app_search_listing_show',{slug : listing.slug})}}" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">
			{{ listing.name | raw | capitalize}}

			{# stars rating #}
			<div class="flex items-center">
				{% for i in 1..listing.note %}
				<svg class="w-4 h-4 text-orange-500 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
					<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
				</svg>
				{% endfor %}
				{% if listing.note < 5 %}
				 {% for i in range(4, listing.note, -1) %}
				<svg class="w-4 h-4 ms-1 text-gray-500 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
					<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
				</svg>
				{% endfor %}
				{% endif %}
			</div>


		</a>

		
	</div>
	<div class="px-6 mb-2 flex flex-row items-center justify-between ">
		<a href="{{ path('app_search_localite',{ slug : listing.ville.slug})}}" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
			<svg class="h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
			</svg>


			<span class="ml-1">{{ listing.ville.nom | raw | upper}}</span>
		</a>

		<a href="{{ path('app_search_categorie',{ slug : listing.categorie.slug})}}" class="py-1 underline text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
			<img src="{{ asset('template/images/category.png')}}" class="object-cover h-3 mr-1"/>
			<span class="ml-1">{{ listing.categorie.nom | raw | upper}}</span>
		</a>
	</div>
	<div class="px-6 py-2 flex flex-row items-center justify-between border border-t-1 border-gray-100">
	{% if listing.telephone != "" %}
		<a href="tel: {{ listing.telephone | raw }} " class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
			<svg class="h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"/>
			</svg>

			<span class="ml-1 text-md ">Call now</span>
		</a>
	{% endif %}
		<span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
			<svg class="w-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.153 19 21 12l-4.847-7H3l4.848 7L3 19h13.153Z"/>
			</svg>

			<span class="ml-1">Get Direction</span>
		</span>
	</div>
</div>
