{#add sticky pour fixer le menu en haut#}
<nav class="bg-blue-900 border-b-1 border-gray-100   shadow-sm z-20 top-0 start-0">
	<div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="{{ path('app_home')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
			<img src="{{ asset('template/images/logo.png')}}" class="h-14  rounded-full shadow-md shadow-blue-400" alt="SDR Logo"/>

		</a>
		<div class="flex md:order-2 ">

			<button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-1 w-10 h-10 justify-center text-sm text-gray-100 rounded-lg md:hidden hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<img src="{{ asset('template/images/menu.png')}}" class="object-cover h-10"/>
			</button>
		</div>
		<div dir="{{dirs}}" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-gray-100/10 rounded-xl md:bg-transparent" id="navbar-search">

			<ul class="flex flex-col p-4 md:p-0 mt-2 font-medium rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
				<li class="">
					<p class="text-lg  group relative w-max">
						<a href="{{ path('app_home')}}" class="block py-2 text-lg text-lg px-3 text-white rounded  md:text-white md:p-0 md:hover:bg-transparent  ">{{"Accueil" | trans}}</a>
						<span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-orange-400 group-hover:w-full"></span>
					</p>
				</li>
				<li>
					<p class="text-lg  group relative w-max">
						<a href="#" class="block py-2 text-lg px-3 text-white rounded md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{"Explorer les lieux" | trans}}</a>
						<span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-orange-400 group-hover:w-full"></span>
					</p>
				</li>
				<li>
					<p class="text-lg  group relative w-max">

						<a href="#" class="block py-2 text-lg px-3  text-white rounded   md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{"Explorer les catégories" | trans}}</a>
						<span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-orange-400 group-hover:w-full"></span>
					</p>
				</li>
				<li>
					<p class="text-lg  group relative w-max">
						<a href="{{ path('page_videos')}}" class="block py-2 text-lg px-3 text-white rounded   md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{"Vidéos" | trans}}</a>
						<span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-orange-400 group-hover:w-full"></span>
					</p>
				</li>
				<li>
					<p class="text-lg  group relative w-max">
						<a href="{{ path('page_blog')}}" class="block py-2 text-lg px-3 text-white rounded   md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{"Blogs" | trans}}</a>
						<span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-orange-400 group-hover:w-full"></span>
					</p>
				</li>
				<li >
					<p class="text-lg  group relative w-max">
						<a href="{{ path('app_login')}}" class="block py-2 text-lg px-3 text-white rounded   md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{"Se connecter" | trans}}</a>
						<span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-orange-400 group-hover:w-full"></span>
					</p>
				</li>
				<li>
					<div
						class="">
					
						{% set language = "français" %}
				
						{% if app.request.locale == "fr" %}
							{% set language = "français" %}
						{% elseif app.request.locale == "ar" %}
							{% set language = "العربية" %}
						{% elseif app.request.locale == "en" %}
							{% set language = "English" %}
						{% else %}

						{% endif %}
						
						<div class="relative group  md:flex">
							<button class="flex flex-row gap-1 outline-none focus:outline-none pl-2 pr-8 bg-transparent text-white rounded-sm flex items-center" onclick="toggleDropdown()">
								<span class="pr-1 text-lg flex-1">{{language | raw }}</span>
								<span class=" ml-2 ">
									<svg class="fill-current h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
										<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
									</svg>
								</span>
							</button>
<ul id="dropdown-menu" class="z-50 bg-white/40 rounded-xl shadow-xl transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top top-full right-0">								<li class="items-center inline-flex  py-2">
									<a href="javascript:;" onclick="onChangeLanguage('fr')" class="icon-8 email" rel="noopener me" >


										<svg class="h-7 hover:scale-125 px-2" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveaspectratio="xMidYMid meet">
											<path fill="#ED2939" d="M36 27a4 4 0 0 1-4 4h-8V5h8a4 4 0 0 1 4 4v18z"></path>
											<path fill="#002495" d="M4 5a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h8V5H4z"></path>
											<path fill="#EEE" d="M12 5h12v26H12z"></path>
										</svg>
									</a>

									<a href="javascript:;" onclick="onChangeLanguage('ar')" class="icon-8 email" rel="noopener me" >


										<svg class="h-7 hover:scale-125 px-2" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveaspectratio="xMidYMid meet">
											<path fill="#C1272D" d="M32 5H4a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4z"></path>
											<path fill="#006233" d="M15.047 22.165l1.128-3.471l-2.953-2.145h3.649L18 13.074l1.129 3.474h3.649l-2.953 2.145l1.128 3.471L18 20.019l-2.953 2.146zm3.583-2.603l.916.665l-.35-1.077l-.566.412zm-1.826-.412l-.35 1.077l.916-.665l-.566-.412zm.241-.74l.955.694l.955-.694l-.365-1.122h-1.182l-.363 1.122zM15.5 17.288l.915.665l.216-.665H15.5zm3.869 0l.216.665l.915-.665h-1.131zm-1.019-.74L18 15.47l-.35 1.079h.7z"></path>
										</svg>
									</a>
									<a href="javascript:;" onclick="onChangeLanguage('en')" class="icon-8 email" rel="noopener me" >


										<svg class="h-7 hover:scale-125 px-2" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveaspectratio="xMidYMid meet">
											<path fill="#00247D" d="M0 9.059V13h5.628zM4.664 31H13v-5.837zM23 25.164V31h8.335zM0 23v3.941L5.63 23zM31.337 5H23v5.837zM36 26.942V23h-5.631zM36 13V9.059L30.371 13zM13 5H4.664L13 10.837z"></path>
											<path fill="#CF1B2B" d="M25.14 23l9.712 6.801a3.977 3.977 0 0 0 .99-1.749L28.627 23H25.14zM13 23h-2.141l-9.711 6.8c.521.53 1.189.909 1.938 1.085L13 23.943V23zm10-10h2.141l9.711-6.8a3.988 3.988 0 0 0-1.937-1.085L23 12.057V13zm-12.141 0L1.148 6.2a3.994 3.994 0 0 0-.991 1.749L7.372 13h3.487z"></path>
											<path fill="#EEE" d="M36 21H21v10h2v-5.836L31.335 31H32a3.99 3.99 0 0 0 2.852-1.199L25.14 23h3.487l7.215 5.052c.093-.337.158-.686.158-1.052v-.058L30.369 23H36v-2zM0 21v2h5.63L0 26.941V27c0 1.091.439 2.078 1.148 2.8l9.711-6.8H13v.943l-9.914 6.941c.294.07.598.116.914.116h.664L13 25.163V31h2V21H0zM36 9a3.983 3.983 0 0 0-1.148-2.8L25.141 13H23v-.943l9.915-6.942A4.001 4.001 0 0 0 32 5h-.663L23 10.837V5h-2v10h15v-2h-5.629L36 9.059V9zM13 5v5.837L4.664 5H4a3.985 3.985 0 0 0-2.852 1.2l9.711 6.8H7.372L.157 7.949A3.968 3.968 0 0 0 0 9v.059L5.628 13H0v2h15V5h-2z"></path>
											<path fill="#CF1B2B" d="M21 15V5h-6v10H0v6h15v10h6V21h15v-6z"></path>
										</svg>
									</a>


								</li>
							</ul>
						</div>
					</select>
				</li>
			</div>

		</li>
	</ul>
</div></div></nav>
