<div class="flex flex-col w-full justify-start items-center h-full">

	{{ form_start(amnitiesForm) }}

	<div class=" mb-4 w-full hidden" data-te-input-wrapper-init>
		{{ form_widget(amnitiesForm.query, {'value' : filtreDonnees.query == null ? donnees.query : filtreDonnees.query }) }}

	</div>
	<div class=" mb-4 w-full hidden" data-te-input-wrapper-init>
		{{ form_widget(amnitiesForm.categorie, {'value' : filtreDonnees.categorie == null ? (donnees.categorie != null ? donnees.categorie.id  : null ) : filtreDonnees.categorie.id }) }}

	</div>
	<div class=" mb-4 w-full hidden" data-te-input-wrapper-init>
		{{ form_widget(amnitiesForm.ville, {'value' : filtreDonnees.ville == null ? (donnees.ville != null ? donnees.ville.id : null ) : filtreDonnees.ville.id }) }}

	</div>


	<div class=" mb-4 grid grid-cols-1 gap-2 w-full " dir={{dirs}}>
		{% for checkbox in amnitiesForm.amnities %}
			<div class="flex gap-4 items-center mb-2  mt-4">
				{{ form_widget(checkbox, {'attr': {'class': 'text-blue-900 text-lg focus:ring-1 focus:ring-blue-500 focus:border-blue-700 focus:ring-opacity-0 p-2.5'}}) }}
				<span class="ml-2 text-gray-900">{{ form_label(checkbox) }}</span>
			</div>
		{% endfor %}
	</div>
<div class=" mb-24 flex flex-col gap-2">

	<button type="submit" class="text-white  end-2.5 bottom-2.5 bg-orange-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-normal text-md px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{"Rechercher" | trans}}</button>
	</div>

{{ form_end(amnitiesForm)}}</div>
