

<div class="bg-white py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
<h1 class="mb-4 text-xl text-center font-extrabold mt-6 md:mt-8 leading-none tracking-tight text-gray-900 md:text-4xl">Nos Partenaires
</h1>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img src="{{ asset('template/logos/ofppt.png')}}" alt="offpt" class="col-span-2 max-h-20 w-full object-contain lg:col-span-1"/>
      <img class="col-span-2 max-h-20 w-full object-contain lg:col-span-1" src="{{ asset('template/logos/anapec.png')}}" alt="Anapec" width="158" height="48">
      <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1" src="{{ asset('template/logos/regional.png')}}" alt="centre régional souss massa" width="158" height="48">
      <img class="col-span-2 max-h-64 w-full object-contain sm:col-start-2 lg:col-span-1" src="{{ asset('template/logos/conseil.jpg')}}" alt="Conseil régional du tourisme souss massa">
      <img class="col-span-2 col-start-2 max-h-32 w-full object-contain sm:col-start-auto lg:col-span-1" src="{{ asset('template/logos/initiative.jpg')}}" alt="Initiative souss massa" width="158" height="48">
    </div>
  </div>
</div>
